@media only screen and (max-width: 1000px) {
  .form-login {
    width: 100% !important;
  }
}
@media only screen and (max-width: 768px) {
  .form-login {
    width: 100% !important;
  }
  .img-cover {
    display: none !important;
  }
}

.sign-up-btn {
  width: 120px;
  height: 47px;
  border-radius: 7px;
  border: none;
  transition: all 0.25s ease-in-out;
}
.sign-up-btn:hover {
  background-color: #a87bd3;
}
.form-login {
  background-color: #fff;
  width: 450px;
  height: auto;
  border-radius: 10px;
}
.fs-0 {
  font-size: 56px;
  font-weight: 400;
}

.input-text:focus {
  outline: solid 1px #a87bd3;
}
.img-cover {
  width: 100%;
  max-width: 450px;
  height: auto;
}

a:hover {
  color: #a87bd3;
}
