@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+Thai:wght@200;300;400;500;600;700&display=swap");

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #f3f1f5;
}

::selection {
  background: #f0d9ff;
}

.bg-color-one {
  background-color: #bfa2db;
}
.bg-color-one70 {
  background-color: #cfbae3;
}
.bg-color-two {
  background-color: #f0d9ff;
}
.bg-color-light {
  background-color: #f3f1f5;
}
.bg-color-dark {
  background-color: #7f7c82;
}

.text-color-one {
  color: #bfa2db;
}
.text-color-two {
  color: #f0d9ff;
}
.text-color-light {
  color: #f3f1f5;
}
.text-color-dark {
  color: #7f7c82;
}

.input-text {
  width: 100%;
  border: solid 2px #bfa2db;
  border-radius: 7px;
  height: 40px;
}
.input-textarea {
  width: 100%;
  border: solid 2px #bfa2db;
  border-radius: 7px;
}

a:hover {
  color: #a87bd3;
}
