@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+Thai:wght@200;300;400;500;600;700&display=swap");

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #f3f1f5;
}

::selection {
  background: #f0d9ff;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #cfbae3;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #cfbae3;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #cfbae3;
}

.bg-color-one {
  background-color: #bfa2db;
}
.bg-color-one70 {
  background-color: #cfbae3;
}
.bg-color-two {
  background-color: #f0d9ff;
}
.bg-color-light {
  background-color: #f3f1f5;
}
.bg-color-dark {
  background-color: #7f7c82;
}

.text-color-one {
  color: #bfa2db;
}
.text-color-two {
  color: #f0d9ff;
}
.text-color-light {
  color: #f3f1f5;
}
.text-color-dark {
  color: #7f7c82;
}
.text-color-darker {
  color: #747474;
}

.select {
  color: #f0d9ff !important;
}
a {
  cursor: pointer;
}
.input-text,
select {
  width: 100%;
  border: solid 2px #bfa2db;
  border-radius: 7px;
  height: 40px;
}
.input-textarea {
  width: 100%;
  border: solid 2px #bfa2db;
  border-radius: 7px;
}
.input-text:focus,
.input-textarea:focus {
  outline: solid 1px #a87bd3 !important;
}

a:hover {
  color: #a87bd3;
}
/* .px-6 {
  padding: 0 10rem 0 10rem;
} */
.dropdown-container {
  width: auto;
  height: auto;
  background-color: #fff;
  display: none;

  border-radius: 10px;

  right: 0;

  border: 1px solid #bfa2db;
  position: absolute;
  /* position: relative; */
}
.dropdownClick {
  cursor: pointer;
}
.dropdown-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.dropdown-ul li {
  padding: 0.7rem 0.7rem 0.7em 0.35rem;
  /* border-radius: 20px; */
  /* border-bottom: 1px solid #666666; */
}

.hr-drop {
  margin: 0;
  height: 2px;
  width: 100%;
  background-color: #8034c7;
}
