@media only screen and (max-width: 1000px) {
  .regis-form {
    width: 100% !important;
  }
}
/* @media only screen and (max-width: 500px) {
  #preview {
    width: 200px !important;
    height: 200px !important;
  }
  #preview img {
    width: 100%;
    max-width: 150px;
    height: auto;
  }
} */

.uploadButton {
  display: none;
}
.uploadLabel {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 7px 15px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #bfa2db;
  color: #ffffff;
}
.regis-form {
  background-color: #fff;
  width: 60%;
  height: auto;
  border-radius: 10px;
}
.sign-up-btn {
  width: 120px;
  height: 47px;
  border-radius: 7px;
  border: none;
  transition: all 0.25s ease-in-out;
}

.sign-up-btn:hover {
  background-color: #a271cf;
}
#preview {
  width: 150px;
  height: 150px;
  border: 2px dashed #ccc;
  border-radius: 9999px;
  background: rgb(236, 236, 236);
}

#preview img {
  border-radius: 9999px;
  height: 148px;
  /* max-height: 290px; */
  width: 148px;
}
